<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">  
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Resultat</title>
</head>
<body>
    <div>
        <p>Nous avons résumé toutes les informations que vous avez saisies ci-dessous.</p>
        <h2>Plainte principale :</h2>
        <li><ul><h1>Test</h1></ul></li>
        <h2>Histoire de la maladie actuelle :</h2>
        <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
        <h2>Examen des systèmes :</h2>
        <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
        <h2>Assesment :</h2>
        <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.</p>
        <h2>Les causes les plus probables :</h2>
        <li><ul>Test1</ul><ul>Test2</ul><ul>Test3</ul></li>
    </div>
    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>  
</body>
</html>