
* {
	box-sizing: border-box;
  }

  html {
	  height: 100%;
  }

  body {
	font-family: 'Roboto', 'Oxygen',
	  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
	  sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	  height: 100%;
	  margin: 0;
      background-image:  linear-gradient(to bottom, rgba(207, 207, 177, 0.5), rgba(14, 14, 100, 0.5)),
	  url("backk.jpeg");
 }
  span {
	  padding-right: 15px;
	  padding-left: 15px;
      padding: 14px;
      background-color: #0491DD;
      color: white;
      border-radius:10px;

  }
  .responsee {
	  display: flex;
	  align-items: center;
	  margin: 1%;
	  color:black;
	  background-color:#CAD8DF;
	  border-radius:20px;
	  padding: 14px;
      font-size:13px;
  }
  .container {
	  display: flex;
	  justify-content:center;
	  align-items:center;
	  width:100%;
	  height:100%;
  }
  .chat {
	  height: 90%;
	  width: 50vw;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: left;
  }
  ::-webkit-input-placeholder {
	  color: .711
  }
  input {
      border:0;
	  width:400px;
	  left:24%;
  }

  .messages {
	  display: flex;
	  flex-direction: column;
	  overflow: scroll;
	  height: 100%;
	  width: 100%;
	  background-color: white;
	  padding: 15px;
	  margin: 15px;
	  border-radius: 30px;
      border: solid;
	  opacity: 0.8;

}
  #bot {
	  margin-right: auto;
  }
  #user {
	  margin-left: auto;
  }


  .bot {
	  font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,
	  monospace;
	  font-size:13px;
      margin:20px;

  }

  .avatar {
	  height: 25px;

  }
  /* Mobile */

  @media only screen and (max-width: 980px) {
	.container {
		  flex-direction: column;
		  justify-content: flex-start;

	  }
	  .chat {
		  width: 75vw;
		  margin: 10vw;
	  }
  }