@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*, button, input{
margin: 0px;
padding: 0px;
box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;
}

:root{
  --bg-shape-color:linear-gradient(120deg,  #343A4F, #0F1620) ;
 --lightblue: #430349;
 --darkblue: #09669c;
 --text-color: #D5E1EF;
 --my-end-width: 100%;
}
.check{
  color: white;
  font-size: 12px;
}
html,body{
  width: 100%; 
  height: auto;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #414850, #131720);
  color: var(--text-color);
}
body{
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.wrapper{
  width:1000px;
  border-radius: 40px;
  background-image: var(--bg-shape-color);
  overflow: hidden;
}
.overviewInfo, .productSpecifications {
  padding: 24px;
}
.overviewInfo{
  background-image:  linear-gradient(176deg, var(--lightblue), var(--darkblue));
}
.actions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  
  .cartbutton{
    position:relative;
  }
  .cartbutton::after {
      content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-image: linear-gradient(90deg, #489be2, #0f629c);
    border-radius: 50%;
    position: absolute;
    top: 11px;
    right: 8px;
}
  
  .cartbutton svg {
    color: #ababab73;
}
  .backbutton, .cartbutton{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.neurobutton{
  background-image: var(--bg-shape-color);
   
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 4px 5px 0px rgba(197, 197, 197, 0.1), inset 3px 6px 6px 5px rgba(78, 77, 77, 0.1), -2px -2px 8px 2px rgba(255,255,255,0.1), 2px 2px 6px 3px rgba(0,0,0,0.4);
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-height: 200px;
    margin-bottom: 50px;
}

h1{
  font-family: 'Michroma', sans-serif;
}
.grouptext{
h3 {
    letter-spacing: 3.2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}
  p {
    font-size: 12px;
    opacity: 0.8;
  } 
  
}

.featureIcon{
  width: 40px;
  height: 40px;
  background-image: var(--bg-shape-color);
  border-radius: 8px; 
    margin-right: 16px;
}
.productSpecifications{

  h1{
    margin-top: 10px; 
    margin-bottom: 16px;
    font-size: 32px;
  }
  
  p {
    opacity: 0.8;
    font-size: 15px;
    line-height: 1.5;
}

}

.productFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px; 
  grid-row-gap: 16px;
}
.feature{ display:flex;}

.checkoutButton {
    float: left;
    border-radius: 1px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 14px;
    width: inherit;
    margin-left: 10%;
}

.priceTag {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.priceTag span {
  color: #488dc7;
  font-size: 20px;
}

/* checkout button*/
button.preorder {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 40px;
    margin-top: 30px;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(85deg, #3125e0, #600fa3);
    color: white;
}button.preorderr {
    margin-left: 210px;
    cursor: pointer;
    width: 190px;
    height: 40px;
    margin-top: 40px;
    border: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(85deg, #3125e0, #600fa3);
    color: white;
}
button.preorder:disabled,
button[disabled]{
  cursor: unset;
  background-image: linear-gradient(85deg, #cccccc, #999999);
  color: #666666;
}

.preorder p {
    padding: 8px 17px;
    border-right: 1px solid rgba(0,0,0,0.4);
}

.buttonaction {
    border-left: 1px solid rgba(255,255,255,.2);
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,0.7);
}




/* animation */

@keyframes updowncontroller{
  0%  {
    transform: rotate(-90deg) translate(-56px, 66px);}
  80%, 100%{
    transform: rotate(-70deg) translate( 10px, 66px);}
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
  }
  img{
      width: 50px;
      height: 50px;
      border-radius: 20px;
  }
  h3{
      text-align: center;
      color: wite;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 7px;
    top: 5px;
    width: 2px;
    height: 5px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .text{
    font-family: "Gill Sans", sans-serif;  }
    #overlayer {
      width:100%;
      height:100%;  
      position:absolute;
      z-index:1;
      background:#D6E5FA;
    }
    .lds-roller {
      visibility: visible !important;
      display: inline-block;
      position: absolute;
      z-index:3;

}
.text2{
    font-family: "Gill Sans", sans-serif;  
    color: #ee6b1f;
    font-size: 17px;
    font-weight: bold;
}

.c{
    margin-left:150px;
    width: 50px;
    height: 50px;

    
}


.wrapperr{
width: 90%;
min-width: 350px;
left: 50%;
top: 50%;
animation: loader 2s infinite ease;
margin-top: 20px;


}
.container{
width: 90%;
padding: 30px 30px 50px;
background-color: white;
border-radius: 16px;
box-shadow: 0 20px 30px rgba(0,0,0,0.2);
margin-left:auto;
} 

.container *{
font-family: "Poppins",sans-serif;
color: black;
font-weight: 500;
}
h2{
margin-bottom: 50px;
letter-spacing: 2px;
text-align: center;
font-size: 10px;
font-weight: bold;
}
.title{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(45, 32, 235);
font-size: 15px;
}
.title2{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(0, 0, 0);
font-size: 12px;
}

.details{
width: 100%;
display: flex;  
justify-content: space-between;
margin-bottom: 10px;
}
.bar{
position: relative;

border: 2px solid #0d96e0;

border-radius: 20px;

}
.bar div{
position: relative;
width: 0;
height: 3px;
border-radius: 10px;
background-color: #0d96e0;


}
.skills:not(:last-child){
margin-bottom: 30px;
}
#html-bar{
animation: html-fill 2s forwards;
}
@keyframes html-fill{
100%{
    width: var(--my-end-width);
}
}
.span{
font-size: 15px;
}
.text-justify{
  text-align: justify;
  text-justify: inter-word;
}